{% extends 'mailing/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">TestStore</h1>
                <p class="lead">TestStore - лучший магазин testa</p>
            </div>
            <div class="col-12">
                <a href="{% url 'mailing:message_create' %}"
                   class="btn btn-sm btn-outline-secondary">Add message</a>
            </div>
            {% for object in object_list %}
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">{{ object.subject }}</h4>
                    {% if user.is_staff %}
                        <p>создано: {{ object.user }}</p>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{% url 'mailing:message_detail' object.pk %}"
                            class="btn btn-sm btn-outline-secondary" type="button">View</a>
                        <a href="{% url 'mailing:message_edit' object.pk %}"
                            class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                        <a href="{% url 'mailing:message_delete' object.pk %}"
                            class="btn btn-sm btn-outline-secondary" type="button">Delete</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}