{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div class="card-body">
    <h3 class="card-title pricing-card-title">{{ object.name }}</h3>
    <p>Время {{ object.mailing_time }}</p>
    <p>Статус {{ object.status }}</p>
    <p>Частота {{ object.frequency }}</p>
    <p>{{ object.message }}</p>
    <p>{% get_list_from_queryset object.clients.all %}</p>
    {% if user.is_staff %}
        <p>создано: {{ object.user }}</p>
    {% endif %}
</div>
    <div class="card-footer">
        <div class="btn-group">
            {% if not user.is_staff or user.is_superuser %}
                <a href="{% url 'mailing:mailing_edit' object.pk %}"
                   class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                <a href="{% url 'mailing:mailing_delete' object.pk %}"
                   class="btn btn-sm btn-outline-secondary" type="button">Delete</a>
            {% endif %}
            <a href="{% url 'mailing:mailing_stop' object.pk %}"
               class="btn btn-sm btn-outline-secondary" type="button">Stop</a>
        </div>
    </div>

{% endblock %}