{% extends 'mailing/base.html' %}
{% block content %}
<div class="card-body">
    <h3 class="card-title pricing-card-title">{{ object.name }}</h3>
    <p>Время {{ object.mailing_time }}</p>
    <p>Статус {{ object.status }}</p>
    <p>Частота {{ object.frequency }}</p>
    <p>{{ object.message }}</p>
    <p>{{ object.clients.all }}</p>
</div>
<div class="card-footer">
    <div class="btn-group">
        <a href="{% url 'mailing:mailing_edit' object.pk %}"
           class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
        <a href="{% url 'mailing:mailing_delete' object.pk %}"
           class="btn btn-sm btn-outline-secondary" type="button">Delete</a>
    </div>
</div>
{% endblock %}